body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00f490, #00bbc9);
}

h1 {
    font-family: cursive;

}

.jumbotron {
    background-color: rgba(250, 235, 215, 0);
}

.drop-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
}

.lead {
    color: white;
    font-size: 2.2rem;
}

.btn-outline-light{
    border-color: white;
}

.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.189);
}

.btn-primary {
    background-color: #00bbc9;
}